<%= form_with(model: patientinfo, local: true) do |form| %>
  <% if patientinfo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patientinfo.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
        <% patientinfo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class = "ui form">
  <div class="required field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="required field">
    <%= form.label :"Birth date" %>
    <%= form.date_select :birthDate %>
  </div>

  <div class="required field">
    <%= form.label :"Blood pressure" %>
    <%= form.text_field :bloodPressure %>
  </div>

  <div class="required field">
    <%= form.label :"Height" %>
    <%= form.number_field :height %>
  </div>

  <div class="required field">
    <%= form.label :"Weight" %>
    <%= form.text_field :weight %>
  </div>

  <div class="field">
    <%= form.label :"Blood type" %>
    <%= form.text_field :bloodType %>
  </div>

  <div class="required field">
    <%= form.label :"Emergency Contact" %>
    <%= form.text_area :emergencyContact %>
  </div>

  <div class="required field">
    <%= form.label :"Medications" %>
    <%= form.text_area :medications %>
  </div>

  <div class="required field">
    <%= form.label :"Allergies" %>
    <%= form.text_area :allergies %>
  </div>

  <div class="required field">
    <%= form.label :"Symptoms" %>
    <%= form.text_area :symptoms %>
  </div>

  <div class="required field">
    <%= form.label :"Date (created)" %>
    <%= form.datetime_select :dateCreated %>
  </div>

  <div class="required field">
    <%= form.label :"Date (updated)" %>
    <%= form.datetime_select :dateUpdated %>
  </div>

  <div class="required field">
    <%= form.label :"Entered nurse ID" %>
    <%#= form.text_field :nurseID %>
    <%= form.select :nurseID, options_for_select(Nurse.all.map{|s|[s.nurseName, s.nurseID]}) %>
  </div>

<% end %>

<div class="actions">
  <%=link_to 'Back', patientinfos_path, {class: "ui button"} %>
  <button class="ui positive button" type="submit">Submit</button>
</div>

</div>
