<p id="notice"><%= notice %></p>

<h1>PatientInfos</h1>

<table>
  <thead>
    <tr>
      <th>Currmedid</th>
      <th>Name</th>
      <th>Birthdate</th>
      <th>Bloodtype</th>
      <th>Datecreated</th>
      <th>Dateupdated</th>
      <th>Emergencycontact</th>
      <th>Entered by Nurse</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patientinfos.each do |patientinfo| %>
      <tr>
        <td><%= patientinfo.currMedID %></td>
        <td><%= patientinfo.name %></td>
        <td><%= patientinfo.birthDate %></td>
        <td><%= patientinfo.bloodType %></td>
        <td><%= patientinfo.dateCreated %></td>
        <td><%= patientinfo.dateUpdated %></td>
        <td><%= patientinfo.emergencyContact %></td>
        <td><%= patientinfo.nurseID %></td>
        <td><%= link_to 'Show', patientinfo %></td>
        <td><%= link_to 'Edit', edit_patientinfo_path(patientinfo) %></td>
        <td><%= link_to 'Destroy', patientinfo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patientinfo', new_patientinfo_path %>
<%= link_to 'Back', dashboard_index_path %>