<p id="notice"><%= notice %></p>

<div class="ui padded raised container segment">
<h1>Patients</h1>

<table class="ui fixed selectable table">

  <div class="actions">
    <%= link_to 'New Patient', new_patientinfo_path, {class: "positive ui button"} %>
    <%= link_to 'Back', dashboard_index_path, {class: "ui button"} %>
  </div>

  <thead>
    <tr>
      <th>Name</th>
      <th>Birthdate</th>
      <th>Bloodtype</th>
      <th>Emergency Contact</th>
      <th>Date Created</th>
      <th>Date Updated</th>
      <th>Nurse</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @patientinfos.each do |patientinfo| %>
      <tr>
<!--        <td><%#= patientinfo.currMedID %></td>-->
        <td class="selectable"><%= link_to patientinfo.name, patientinfo %></td>
        <td><%= patientinfo.birthDate %></td>
        <td><%= patientinfo.bloodType %></td>
        <td><%= patientinfo.emergencyContact %></td>
        <td><%= patientinfo.dateCreated %></td>
        <td><%= patientinfo.dateUpdated %></td>
        <td><%= Nurse.find(patientinfo.nurseID).nurseName %></td>
<!--        <td><%#= link_to 'Edit', edit_patientinfo_path(patientinfo) %></td>-->
        <td><%= link_to 'Destroy', patientinfo, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>