<p id="notice"><%= notice %></p>

<br>
<div class="ui raised padded container segment">

<div class="content">
  <h3 class="ui black inverted segment header">
<!--    <button class="ui black icon button"><%#= link_to "-", patientinfos_path %>-->
<!--    </button>-->
    <%= link_to patientinfos_path, {class: "ui black icon button"} do %>
      <i class="angle left icon"></i>
    <% end %>

    <%= @patientinfo.name %>
    (ID#:<%= @patientinfo.patientID %>)
  </h3>

  <div class="ui hidden divider">Personal Information
    <button class="ui mini white basic button"><%= link_to "Edit", edit_patientinfo_path(@patientinfo) %></i>
    </button></div><br>

  <li>
    <strong>Birthdate: </strong>
    <%= @patientinfo.birthDate %>
  </li>

  <li>
    <strong>Bloodtype: </strong>
    <%= @patientinfo.bloodType %>
  </li>

  <li>
    <strong>Emergency Contact: </strong>
    <%= @patientinfo.emergencyContact %>
  </li>

  <li>
    <strong>Date Created: </strong>
    <%= @patientinfo.dateCreated %>
  </li>

  <li>
    <strong>Date Updated: </strong>
    <%= @patientinfo.dateUpdated %>
  </li>

  <li>
    <strong>Nurse responsible:</strong>
    <%= Nurse.find(@patientinfo.nurseID).nurseName %>
  </li>

  <div class="ui section divider"></div>
  <div class="ui hidden divider">Medical Information</div>
  <p>
  <li>
    <strong>Height: </strong>
    <%= @patientinfo.height %>
  </li>

  <li>
    <strong>Weight: </strong>
    <%= @patientinfo.weight %>
  </li>

  <li>
    <strong>Allergies: </strong>
    <%= @patientinfo.allergies %>
  </li>

  <li>
    <strong>Blood Pressure: </strong>
    <%= @patientinfo.bloodPressure %>
  </li>

  <li>
    <strong>Symptoms: </strong>
    <%= @patientinfo.symptoms %>
  </li>

  <li>
    <strong>Medications: </strong>
    <%= @patientinfo.medications %>
  </li>

  <li>
    <strong>Date Created: </strong>
    <%= @patientinfo.dateCreated %>
  </li>

  <li>
    <strong>Date Updated: </strong>
    <%= @patientinfo.dateUpdated %>
  </li>

  <div class="ui section divider"></div>
  <div class="ui hidden divider">Medical History</div>
    <% Patienthistory.where(patientID=params[:id]).each do |patient| %>
      <% Medicalhistory.where(medHisID:patient.medHisID).each do |history| %>
      <li>
        <strong>Medical History ID: </strong>
        <%= history.medHisID %>
      </li>

      <li>
        <strong>Timestamp: </strong>
        <%= history.dateAndTime %>
      </li>

      <li>
        <strong>Medication: </strong>
        <%= history.medication %>
      </li>

      <li>
        <strong>Disease / Condition: </strong>
        <%= history.diseaseOrCondition %>
      </li>

<!--      <li>-->
<!--        <strong>Diagnosed by: </strong>-->
        <%#= Analyzeordiagnose.where(medHisID:history.medHisID).first.doctor.docName %>
<!--      </li>-->

      <% end %>
    <% end %>
  </li>

</div>

<!--<%#= link_to 'Edit', edit_patientinfo_path(@patientinfo) %> |-->
