<p id="notice"><%= notice %></p>

<div class="ui padded raised text container segment">
  <h1>Tests and Patients</h1>

  <div class="actions">
    <%= link_to 'New Test for Patient', new_patienttest_path, {class:"positive ui button new-button"} %>
    <%=link_to 'Back', dashboard_index_path , {class: "ui button"}%>
  </div>

<table class="ui selectable celled table">
  <thead>
    <tr>
      <th>Patient</th>
      <th>Test</th>
      <th>Timestamp</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @patienttests.each do |patienttest| %>
      <tr>
        <td class="selectable"><%= link_to Patientinfo.find(patienttest.patientID).name, edit_patienttest_path(patienttest) %></td>
<!--        <td><%#= Patientinfo.find(patienttest.patientID).name %></td>-->
        <td><%= Labtestsresult.find(patienttest.testID).testName %></td>
        <td><%= patienttest.dateAndTime %></td>
<!--        <td><%#= link_to 'Show', patienttest %></td>-->
<!--        <td><%#= link_to 'Edit', edit_patienttest_path(patienttest) %></td>-->
        <td><%= link_to 'Destroy', patienttest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>