<%= form_with(model: doctor, local: true) do |form| %>
  <% if doctor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
      <% doctor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ui form">
  <div class="ui required field">
    <%= form.label :"Name" %>
    <%= form.text_field :docName %>
  </div>

  <div class="ui required field">
    <%= form.label :specialization %>
    <%= form.text_field :specialization %>
  </div>

  <div class="ui required field">
    <%= form.label :department %>
    <%= form.text_field :department %>
  </div>

  <div class="ui required field">
    <%= form.label :fee %>
    <%= form.text_field :fee %>
  </div>

  <div class="ui required field">
    <%= form.label :schedule %>
    <%= form.text_field :schedule %>
  </div>

  <div class="actions">
    <button class="ui button"><%=link_to 'Back', doctors_path %></button>
    <button class="ui positive button" type="submit">Submit</button>
  </div>
<% end %>
</div>