<p id="notice"><%= notice %></p>

<br>
<div class="ui padded raised text container segment">
<h1>Doctors</h1>

<table class="ui selectable celled table">
  <div class="actions">
    <%= link_to 'New Doctor', new_doctor_path, {class: "ui positive button"} %>
    <%= link_to 'Back', dashboard_index_path, {class: "ui button"} %>
  </div>

  <thead>
    <tr>
      <th>Name</th>
      <th>Specialization</th>
      <th>Department</th>
      <th>Fee</th>
      <th>Schedule</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td class="selectable">
          <%= link_to doctor.docName, doctor %>
        </td>
<!--        <td><%#= doctor.docName %></td>-->
        <td><%= doctor.specialization %></td>
        <td><%= doctor.department %></td>
        <td><%= doctor.fee %></td>
        <td><%= doctor.schedule %></td>
<!--        <td><%#= link_to 'Show', doctor %></td>-->
<!--        <td><%#= link_to 'Edit', edit_doctor_path(doctor) %></td>-->
        <td><%= link_to 'Delete', doctor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>