<p id="notice"><%= notice %></p>

<br>
<div class="ui raised padded container segment">


  <div class="content">
    <h3 class="ui black inverted segment header">
      <%= link_to doctors_path, {class: "ui black icon button"} do %>
        <i class="angle left icon"></i>
      <% end %>

      <%= @doctor.docName %>&nbsp;
      (ID#:<%= @doctor.doctorID %>)
    </h3>

    <div class="ui hidden divider">Information
      <%= link_to 'Edit', edit_doctor_path(@doctor), {class: "ui mini white basic button"}%> </div><br>

    <li>
      <strong>Docname:</strong>
      <%= @doctor.docName %>
    </li>

    <li>
      <strong>Specialization:</strong>
      <%= @doctor.specialization %>
    </li>

    <li>
      <strong>Department:</strong>
      <%= @doctor.department %>
    </li>

    <li>
      <strong>Fee:</strong>
      <%= @doctor.fee %>
    </li>

    <li>
      <strong>Schedule:</strong>
      <%= @doctor.schedule %>
    </li>

  </div>
</div>