<p id="notice"><%= notice %></p>
<br>
<div class="ui padded raised text container segment">
  <h1>Nurses</h1>

  <div class="actions">
    <%= link_to 'New Nurse', new_nurse_path, {class:"positive ui button new-button"} %>
    <%=link_to 'Back', dashboard_index_path, {class: "ui button"} %>
  </div>

  <table class="ui celled selectable table">
    <thead>
      <tr>
      <th>Name</th>
      <th>Department</th>
      <th>Delete</th>
<!--    <th colspan="3"></th>-->
      </tr>
    </thead>

    <tbody>
      <% @nurses.each do |nurse| %>
      <tr>

        <td class="selectable">
          <%= link_to nurse.nurseName, nurse %>
        </td>
<!--      <td><%#= nurse.nurseName %></td>-->
      <td class="selectable"><%= link_to nurse.department, nurse %></td>
<!--      <td><%#= link_to 'Show', nurse %></td>-->
      <td><%= link_to 'Destroy', nurse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
<br>