<p id="notice"><%= notice %></p>

<br>
<div class="ui raised padded container segment">


<div class="content">
  <h3 class="ui black inverted segment header">
    <%= link_to nurses_path, {class: "ui black icon button"} do %>
      <i class="angle left icon"></i>
    <% end %>

    <%= @nurse.nurseName %>
    (ID#:<%= @nurse.nurseID %>)
  </h3>

  <div class="ui hidden divider">Information
    <%= link_to 'Edit', edit_nurse_path(@nurse), {class: "ui mini white basic button"}%>
    </div><br>

  <li>
    <strong>Nurse ID: </strong>
    <%= @nurse.nurseID %>
  </li>

  <li>
    <strong>Nurse: </strong>
    <%= @nurse.nurseName %>
  </li>

  <li>
    <strong>Department: </strong>
    <%= @nurse.department %>
  </li>
</div>
</div>