<%= form_with(model: analyzeordiagnosis, local: true) do |form| %>
  <% if analyzeordiagnosis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(analyzeordiagnosis.errors.count, "error") %> prohibited this analyzeordiagnosis from being saved:</h2>

      <ul>
      <% analyzeordiagnosis.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :doctorID %>
    <%= form.number_field :doctorID %>
  </div>

  <div class="field">
    <%= form.label :medHisID %>
    <%= form.number_field :medHisID %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
