<p id="notice"><%= notice %></p>

<p>
  <strong>Doctorid:</strong>
  <%= @analyzeordiagnosis.doctorID %>
</p>

<p>
  <strong>Medhisid:</strong>
  <%= @analyzeordiagnosis.medHisID %>
</p>

<%= link_to 'Edit', edit_analyzeordiagnosis_path(@analyzeordiagnosis) %> |
<%= link_to 'Back', analyzeordiagnoses_path %>
