<p id="notice"><%= notice %></p>

<div class="ui padded raised text container segment">
<h1>Lab Test Results</h1>

  <div class="actions">
    <button class="positive ui button"><%= link_to 'New Lab Test Result', new_labtestsresult_path %></button>
    <button class="ui button"><%=link_to 'Back', dashboard_index_path %></button>
  </div>

  <table class="ui celled table">
  <thead>
    <tr>
      <th>Test ID </th>
      <th>Timestamp</th>
      <th>Test Name </th>
      <th>Test Results</th>
    </tr>
  </thead>

  <tbody>
    <% @labtestsresults.each do |labtestsresult| %>
      <tr>
        <td><%= labtestsresult.testID %></td>
        <td><%= labtestsresult.dateAndTime %></td>
        <td><%= labtestsresult.testName %></td>
        <td><%= labtestsresult.testResults %></td>
<!--        <td><%#= link_to 'Show', labtestsresult %></td>-->
<!--        <td><%#= link_to 'Edit', edit_labtestsresult_path(labtestsresult) %></td>-->
<!--        <td><%#= link_to 'Destroy', labtestsresult, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>


</div>