<p id="notice"><%= notice %></p>

<br>
<div class="ui raised padded container segment">


<div class="content">
  <h3 class="ui black inverted segment header">
    <%= link_to labtestsresults_path, {class: "ui black icon button"} do %>
      <i class="angle left icon"></i>
    <% end %>

    <%= @labtestsresult.testName %>&nbsp;
    (ID#:<%= @labtestsresult.testID %>)
  </h3>

  <div class="ui hidden divider">Information
    <%= link_to 'Edit', edit_labtestsresult_path(@labtestsresult), {class: "ui mini white basic button"}%>
  </div><br>


  <p>
  <strong>Timestamp:</strong>
  <%= @labtestsresult.dateAndTime %>
</p>

<p>
  <strong>Test Results:</strong>
  <%= @labtestsresult.testResults %>
</p>

</div>