<h1>Medical Records</h1>

<%#= link_to 'New Lab Test Result', new_labtestsresult_path %>
<li><%= link_to 'Lab Test Results', labtestsresults_path%></li>
<li><%= link_to 'Med Doctors', doctors_path%></li>
<li><%= link_to 'Nurses', nurses_path%></li>

<br>Related to Patient<br>
<li><%= link_to 'Current Medical', currentmedicals_path%></li>
<li><%= link_to 'Medical History', medicalhistories_path%></li>