<div class="ui very padded inverted vertical masthead center aligned segment" id="index">

  <h1 class="ui center aligned blue icon header">
    <i class="circular blue users icon"></i>
    Medical Record
  </h1>
  <div class="ui hidden divider"></div>
  <div class="ui text container" id="description">
    <p>These records stores information for healthcare services particularly in clinics or small hospitals. It takes note of the patients, nurses, and doctors in the healthcare institution. It can function as a supporting document for sicknesses, medical diagnosis, and laboratory tests, which is usually required for government offices, companies, and schools.</p>
    <p>Its goal is to eliminate the full dependence of physical copies of records which is a hassle to organize and slow to inform. </p>
  </div>

  <!--<h1>Medical Records</h1>-->

<!--<li><%#= link_to 'Lab Test Results', labtestsresults_path%></li>-->
<!--<li><%#= link_to 'Med Doctors', doctors_path%></li>-->
<!--<li><%#= link_to 'Analysis', analyzeordiagnoses_path%></li>-->
<!--<li><%#= link_to 'Nurses', nurses_path%></li>-->
<!--<li><%#= link_to 'Ran tests', runtests_path%></li>-->

<!--<br>Related to Patient<br>-->
<!--<li><%#= link_to 'Patients', patientinfos_path %></li>-->
<!--<li><%#= link_to 'Patient Tests', patienttests_path %></li>-->
<!--<li><%#= link_to 'Current Medical', currentmedicals_path%></li>-->
<!--<li><%#= link_to 'Medical History', medicalhistories_path%></li>-->
<!--<li><%#= link_to 'Patient History', patienthistories_path%></li>-->

</div>
</div>

<br>
<div class="ui two column double stackable grid container">

  <div class="column">
    <div class="ui centered blue card">
      <div class="content">
        <div class="header">Patients</div>
      </div>
      <div class="content">
        <li><%= link_to 'Patients', patientinfos_path %></li>
        <li><%= link_to 'Patient Tests', patienttests_path %></li>
        <!--          <li><%#= link_to 'Current Medical', currentmedicals_path%></li>-->
        <!--          <li><%#= link_to 'Medical History', medicalhistories_path%></li>-->
        <!--          <li><%#= link_to 'Patient History', patienthistories_path%></li>-->
      </div>
    </div>
  </div>

  <div class="column">
    <div class="ui centered blue card">
      <div class="content">
        <div class="header">Others</div>
      </div>
      <div class="content">
        <li><%= link_to 'Doctors', doctors_path%></li>
        <li><%= link_to 'Nurses', nurses_path%></li>
        <!--          <li><%#= link_to 'Analysis', analyzeordiagnoses_path%></li>-->
        <!--          <li><%#= link_to 'Ran tests', runtests_path%></li>-->
        <li><%= link_to 'Lab Test Results', labtestsresults_path%></li>
      </div>
    </div>
  </div>


<!--In replacement for getInfo table-->
<!--Added nurseID to patientInfo to indicate nurse who entered the patient's information-->
<%#= render 'layouts/footer' %>